[2022-10-05 03:49] Subham-Maity opened #1 "Bugs: Page goes up after reloading"
**After reloading the main page up fix this issue**

[2022-10-05 05:07] immayurpanchal commented on #1
Hey @Subham-Maity . I can help you. Please assign it to me.

[2022-10-05 05:23] Subham-Maity commented on #1
@immayurpanchal  Sure

[2022-10-05 05:44] immayurpanchal commented on #1
@Subham-Maity , Issue is fixed and raised the PR. Please Review and let me know if anything else I can help you with.

[2022-10-05 06:02] #1 closed

[2022-10-05 06:42] Geetanjaligupta123 opened #3 "Want to add some sentences."
Can you please assign this issue to me

[2022-10-05 06:51] Subham-Maity commented on #3
@Geetanjaligupta123 sure

[2022-10-05 15:38] Geetanjaligupta123 commented on #3
please merge pull request by adding Hacktoberfest  label.

[2022-10-05 22:51] Subham-Maity commented on #3
@Geetanjaligupta123 ok

[2022-10-05 22:51] #3 closed

[2022-10-10 04:26] Subham-Maity opened #5 "Add some Interesting sentences at least 10-12"
**1. At least 10-12 more interesting sentences should be added**
**2. You should check the dataset and how it's written, then maintain the format and add whatever you want. However, you should also explain the meaning of the sentence.**
**3. For better understanding, use emojis**

```Note: You can get a better understanding of the code by reading the description README.md.```

[2022-10-10 05:53] anuragh2002 commented on #5
I would like to work on this issue. Can you please assign it to me?

[2022-10-10 05:58] Subham-Maity commented on #5
@anuragh2002 Sure!

[2022-10-10 06:45] #5 closed

[2022-10-10 06:58] Subham-Maity opened #7 "Add some Interesting sentences at least 10-12"
**1. At least 10-12 more interesting sentences should be added**
**2. You should check the dataset and how it's written, then maintain the format and add whatever you want. However, you should also explain the meaning of the sentence.**
**3. For better understanding, use emojis**

```Note: You can get a better understanding of the code by reading the description README.md.```

[2022-10-10 07:41] AbhiMishra-Now commented on #7
I'd like to contribute on this issue.

[2022-10-10 07:51] Subham-Maity commented on #7
@AbhiMishra-Now  Sure!

[2022-10-10 08:14] Subham-Maity opened #8 "Want to Add a Background Sound"
**1. As a function, make an appropriate button in the right-down corner so that background music will start automatically when the button is pressed.**

**2. Add any background music like the description - README.md**

![Screenshot 2022-10-10 134155](https://user-images.githubusercontent.com/97989643/194823275-0ac7393e-2f1a-4496-b170-b6020f277159.png)

[2022-10-10 08:16] Adw8 commented on #8
Hi @Subham-Maity, Can I work on this issue?

[2022-10-10 08:18] Subham-Maity commented on #8
@Adw8 Sure!

[2022-10-10 10:03] Aishaa-26 commented on #7
Request you to please assign this issue to me.

[2022-10-10 10:21] Subham-Maity commented on #7
@Aishaa-26 Ok sure!

[2022-10-10 12:19] #7 closed

[2022-10-10 13:17] Adw8 commented on #8
@Subham-Maity could you tell me how to get the website running in dev mode? what command should I use?

[2022-10-10 13:29] Subham-Maity commented on #8
@Rkpani05 Can you elaborate on what you mean by website running in development mode

However, you can work on this project like this
1. **Fork this repo**
2. **Clone this repo**
3. Give a **branch name** - ```git branch your_branch_name```
4. Check your **branch** - ```git checkout your_branch_name```
5. For checking **status** - ``` git status```
6. **Adding the changes** - ```git add .```
7. **C

[2022-10-10 13:43] Subham-Maity opened #11 "Add some Interesting sentences at least 10-12"
**1. At least 10-12 more interesting sentences should be added**
**2. You should check the dataset and how it's written, then maintain the format and add whatever you want. However, you should also explain the meaning of the sentence.**
**3. For better understanding, use emojis**

```Note: You can get a better understanding of the code by reading the description README.md.```

[2022-10-10 13:47] satyamrs00 commented on #11
hey i want to do this
assign it to me

[2022-10-10 14:01] Adw8 commented on #8
@Subham-Maity I've followed the steps you mentioned, what I meant was how I would be able to see the changes I made, but clicking on the html file solved it.

[2022-10-11 09:25] VladenCode commented on #11
Would also like to contribute to this issue. :)

[2022-10-11 16:58] Subham-Maity commented on #8
Hey, @Adw8 Any update?

[2022-10-12 16:10] Omm2005 commented on #11
Would like to contribute to this project!

[2022-10-12 16:31] Subham-Maity commented on #8
@Adw8 **I have already implemented this feature, but if you want to enhance it, you can improve the time complexity of the function or customize the button.**

[2022-10-12 16:36] Subham-Maity commented on #11
@Omm2005 Do it

[2022-10-12 17:39] Subham-Maity opened #14 "Enhance the Sound Button Design"
<div><h1> Enhance the animated sound button with an appropriate theme for when someone clicks it, a start visual should appear. When the sound button is paused, it should appear as a pause visual  </h1><div>

## Now:

![image](https://user-images.githubusercontent.com/97989643/195409998-f9ea1da9-e73e-441c-87c4-cc66f25e8608.png)

## Change this to something like this

### [Check this for Reference]

[2022-10-12 17:40] #8 closed

[2022-10-12 17:40] rohitsinghind commented on #14
Hello sir, Can you assign this issue to me?

[2022-10-12 17:41] Subham-Maity commented on #14
@rohitsinghind Sure!

[2022-10-12 17:49] Subham-Maity commented on #11
Yes @Omm2005
**1. There are many types of sentences you can add, such as movie dialogues, motivational quotes, idioms, and phrases**
**2. In addition, please add meaning as the previous contributors did. You may use Hindi or English, whichever you prefer.**
**3. In your sentences, please use emojis when they must be accurate**
**4. Maintain the JS format**

[2022-10-12 18:13] rohitsinghind commented on #14
done

[2022-10-12 18:26] Omm2005 commented on #11
Ok I got it

On Wed, Oct 12, 2022, 23:19 Subham ***@***.***> wrote:

[2022-10-12 18:54] Subham-Maity commented on #14
@rohitsinghind  **Could you please tell me what changes you made?**
**Could you please send me the pull request?**

[2022-10-12 19:36] Omm2005 commented on #11
Hey, I am done with this one... I made a pull request... Can you check if all is good and merge it into the main one?  Also, this will count in Hacktoberfest right?

[2022-10-12 19:53] Subham-Maity commented on #11
@Omm2005 It will count in Hacktoberfest, of course.

[2022-10-12 19:53] Subham-Maity commented on #11
@Omm2005 It would be nice if you could change the Hindi to a combination of Hindi and English like Hinglish

[2022-10-12 22:32] Subham-Maity opened #18 "Fix The Mobile View & Also Fixed the Desktop zoom Issue"
## **1. Fix mobile view**
## **2. Fix View Alignment Problem**
## **3. Fixed the Desktop zoom Issue**

[2022-10-12 22:38] mnosov622 commented on #18
Hi @Subham-Maity !

I would love to work on this issue. Could you please clarify what exactly needs to be fixed?

For now I see that there is no mobile adaptation.

Thank you.

[2022-10-13 02:13] rohitsinghind commented on #14
edited the onClick function for sound button

[2022-10-13 02:14] rohitsinghind commented on #14
also sent the pull request, you can check it out

[2022-10-13 06:52] Subham-Maity commented on #18
Hi @mnosov622 !
**When someone zooms in or out on desktop view all the elements are moved according to their x and y axis this should be fixed**

https://user-images.githubusercontent.com/97989643/195522942-513f1fef-ec5b-4b6f-ae41-fc65460de412.mp4

**Mobile view also same problem**

https://user-images.githubusercontent.com/97989643/195523006-952ef634-3264-41d0-9482-3fc1171a052b.mp4

[2022-10-13 06:54] #14 closed

[2022-10-13 06:55] Subham-Maity opened #20 "Enhance the Sound Button Design"
<div><h1> Enhance the animated sound button with an appropriate theme for when someone clicks it, a start visual should appear. When the sound button is paused, it should appear as a pause visual  </h1><div>

## Now:

![image](https://user-images.githubusercontent.com/97989643/195409998-f9ea1da9-e73e-441c-87c4-cc66f25e8608.png)

## Change this to something like this

### [Check this for Reference]

[2022-10-13 07:08] jsvigneshkanna commented on #20
Please assign to my name

[2022-10-13 07:10] Subham-Maity commented on #20
@jsvigneshkanna Sure!

[2022-10-13 08:01] #11 closed

[2022-10-13 08:06] Subham-Maity opened #21 "Add 10-12 Interesting sentences with Meaning"
**1. At least 10-12 more interesting sentences should be added**
**2. You should check the dataset and how it's written, then maintain the format and add whatever you want. However, you should also explain the meaning of the sentence.**
**3. For better understanding, use emojis**

```Note: You can get a better understanding of the code by reading the description README.md.```

[2022-10-13 08:23] rajnish254 commented on #21
kindly Assign me that issue
Thanks

[2022-10-13 09:04] Subham-Maity commented on #21
@rajnish254 Sure!

[2022-10-13 12:43] Subham-Maity commented on #20
@jsvigneshkanna Thank you so much!

[2022-10-13 12:43] #20 closed

[2022-10-13 15:34] Subham-Maity opened #23 "Add 10-12 Interesting sentences with Meaning"
**1. At least 10-12 more interesting sentences should be added**
**2. You should check the dataset and how it's written, then maintain the format and add whatever you want. However, you should also explain the meaning of the sentence.**
**3. For better understanding, use emojis**

```Note: You can get a better understanding of the code by reading the description README.md.```

[2022-10-13 15:44] Parth-ops commented on #23
@Subham-Maity I would like to work on this.

[2022-10-13 15:50] Subham-Maity commented on #23
@Parth-ops Sure!

[2022-10-13 15:51] MRIDUL-MB commented on #23
Please assign this task to me also!
I would like to  contribute

[2022-10-13 15:55] Subham-Maity commented on #23
@MRIDUL-MB Sure!

[2022-10-13 17:18] Subham-Maity opened #27 "Add 10-12 Sentences from Movies Dialogue with Clear Meaning"
**1. At least 10-12 more sentences from the movie's dialogue should be added**
**2. You should check the dataset and how it's written, then maintain the format and add whatever you want. However, you should also explain the meaning of the sentence.**
**3. For better understanding, please must use emojis with sentences**

_Note: Don't change the function or pattern of the data_

```Note: You can ge

[2022-10-13 17:23] PrashantIndurkar commented on #27
hi @Subham-Maity i want to work on this can u assign to me

[2022-10-13 17:23] PrashantIndurkar commented on #27
hi @Subham-Maity I want to work on this can u assign it to me

[2022-10-13 17:25] Subham-Maity commented on #27
Sure @PrashantIndurkar !

[2022-10-13 17:26] PrashantIndurkar commented on #27
@Subham-Maity  can you point me to where I should go for changing  "movie's dialogue"

[2022-10-13 17:31] Subham-Maity commented on #27
Inside script.js
![image](https://user-images.githubusercontent.com/97989643/195665106-9cf8cf0c-c95c-4c35-9f5e-6c443405cc10.png)

You need to understand the dataset, and how sentences are written, then add your movie's dialect based on the format

![image](https://user-images.githubusercontent.com/97989643/195665307-bda4234a-b2f4-4914-beaa-514a9f04f1c6.png)

[2022-10-13 17:36] #18 closed

[2022-10-13 17:37] Subham-Maity opened #28 "Fix The Mobile View & Also Fixed the Desktop zoom Issue"
## **1. Fix mobile view**
## **2. Fix View Alignment Problem**
## **3. Fixed the Desktop zoom Issue**

**When someone zooms in or out on desktop view all the elements are moved according to their x and y axis this should be fixed**

https://user-images.githubusercontent.com/97989643/195522942-513f1fef-ec5b-4b6f-ae41-fc65460de412.mp4

**Mobile view also same problem**

https://user-images.githubuse

[2022-10-14 04:22] jayantchaudhari18 commented on #27
Hey @Subham-Maity can you assign this issue to me.

[2022-10-14 04:24] jayantchaudhari18 commented on #21
Hey, @Subham-Maity can you assign this issue to me? I would love to work on it.

[2022-10-14 05:53] Subham-Maity commented on #21
@jayantchaudhari18 Sure

[2022-10-14 05:54] Subham-Maity commented on #27
@jayantchaudhari18 Sure!

[2022-10-14 12:55] #28 closed

[2022-10-14 12:59] Subham-Maity opened #29 "Fix The Mobile View"
## **Fix mobile view**

![image](https://user-images.githubusercontent.com/97989643/195852995-191b6843-21fa-41e0-9cab-d6eca0d7891a.png)

[2022-10-14 13:02] Subham-Maity opened #30 "Write 10 Sentences with Clear Meaning from Movie Dialogue"
**1. At least 10-12 more sentences from the movie's dialogue should be added**
**2. You should check the dataset and how it's written, then maintain the format and add whatever you want. However, you should also explain the meaning of the sentence.**
**3. For better understanding, please must use emojis with sentences**

_Note: Don't change the function or pattern of the data_

```Note: You can ge

[2022-10-14 13:15] ShreyasSahoo commented on #29
Hi Subham, I want to contribute to this issue.

[2022-10-14 13:15] ShreyasSahoo commented on #29
Could you assign it to me?

[2022-10-14 13:17] ShrinathPawar commented on #30
I would like to work on this issue. Will you assign this issue to me?

[2022-10-14 13:19] Subham-Maity commented on #30
@ShrinathPawar Sure!

[2022-10-14 13:50] Subham-Maity opened #31 "Increase The Size of the Music Button and Place it in an Appropriate Place so that it looks Good"
**Don't change the button design just increase the size of the music button and place it in an appropriate place so that it looks good**

![image](https://user-images.githubusercontent.com/97989643/195863465-87ea317c-a58b-4e04-909c-5a2af8e9be2a.png)

[2022-10-14 13:54] vilasrhegde commented on #29
@Subham-Maity I can finish this within 30mins. Will you assign me?

[2022-10-14 14:04] Subham-Maity commented on #29
@vilasrhegde Ok sure!

[2022-10-14 14:15] MoitreyoChak commented on #31
Hey,
I would like to work on this task.

[2022-10-14 15:38] jayantchaudhari18 commented on #27
Please check my PR.

On Fri, Oct 14, 2022 at 11:24 AM Subham ***@***.***> wrote:

[2022-10-14 16:29] Nimesh-21 commented on #31
Please assign this task to me. I would like to work on it.

[2022-10-14 17:36] jayantchaudhari18 commented on #31
Hey @Subham-Maity  please assign this issue to me

[2022-10-15 04:01] Subham-Maity commented on #31
@MoitreyoChak Sure!

[2022-10-15 04:01] Subham-Maity commented on #31
@Nimesh-21 Sure!

[2022-10-15 04:23] #27 closed

[2022-10-15 04:23] #21 closed

[2022-10-15 04:48] TGFlame commented on #30
Could I also work on this? Your website looks interesting and I have watched a decent amount of movies.

[2022-10-15 04:52] Subham-Maity commented on #30
@TGFlame Sure! Contributions of any kind are welcome!

[2022-10-15 04:59] jayantchaudhari18 commented on #21
Please merge my PR.

On Sat, Oct 15, 2022 at 9:53 AM Subham ***@***.***> wrote:

[2022-10-15 05:25] Radiosnack commented on #30
Hey ! Can I work on this issue?

[2022-10-15 05:28] Subham-Maity commented on #30
@Radiosnack Sure!

[2022-10-15 08:02] darshikaguptaa commented on #31
Hey @Subham-Maity I would like to work on this issue. Please assign it to me

[2022-10-15 08:17] Subham-Maity commented on #31
@darshikaguptaa Sure!

[2022-10-15 08:20] jayantchaudhari18 commented on #31
can you assign me

[2022-10-15 08:21] Subham-Maity commented on #31
@jayantchaudhari18 Sure!

[2022-10-15 12:23] #31 closed

[2022-10-15 13:14] Subham-Maity opened #36 "Add 10 dialogues and quotes from Hollywood movies with clear meaning to the dataset"
<div> <h3 align="center">It is important that you do this task when you are a movie enthusiast, but please do not copy it from another website without knowing what it says 🙏. </h3> </div>

<h4 align="left">How to do that? </h4>
👇

* Read [This](https://github.com/Subham-Maity/StockOfSentence#-3-could-you-please-tell-me-how-i-can-add-my-sentence-to-this-website--) 👈

<h4 align="left">Rules: </h4>

[2022-10-15 13:46] CKacper commented on #36
Hello, i added some quotes and created PR. Please accept :)

[2022-10-15 14:04] Subham-Maity commented on #36
@CKacper No 3: For better understanding, please must use emojis with sentences

[2022-10-15 14:09] nhimanshujain commented on #36
Hi @Subham-Maity can you please assign this issue to me. I can work on it

[2022-10-15 14:10] Subham-Maity commented on #36
@nhimanshujain sure

[2022-10-15 14:29] Subham-Maity opened #38 "Fix Mobile View"
## **Fix Mobile View**

![image](https://user-images.githubusercontent.com/97989643/195852995-191b6843-21fa-41e0-9cab-d6eca0d7891a.png)

[2022-10-15 14:43] nhimanshujain commented on #36
@Subham-Maity Please review and accept the PR #39

[2022-10-15 14:56] Abhijeet03s commented on #38
@Subham-Maity I want to work on this issue.
Also, the background animation is soo dope.

[2022-10-15 15:20] Subham-Maity commented on #38
@Abhijeet03s Sure!

[2022-10-15 15:27] #36 closed

[2022-10-15 15:28] Subham-Maity opened #40 "Add 10 dialogues and quotes from Hollywood movies with clear meaning to the dataset"
<div> <h3 align="center">It is important that you do this task when you are a movie enthusiast, but please do not copy it from another website without knowing what it says 🙏. </h3> </div>

<h4 align="left">How to do that? </h4>
👇

* Read [This](https://github.com/Subham-Maity/StockOfSentence#-3-could-you-please-tell-me-how-i-can-add-my-sentence-to-this-website--) 👈

<h4 align="left">Rules: </h4>

[2022-10-15 15:30] srigundeti10 commented on #40
@Subham-Maity  please assign me

[2022-10-15 15:33] Subham-Maity commented on #40
@srigundeti10 sure!

[2022-10-15 15:39] srigundeti10 commented on #40
thankyou
can you tell me if i can include dialogues from anime movies which are dubbed into hollywood

[2022-10-15 15:46] Subham-Maity commented on #40
@srigundeti10 **No issues! The sentences should be in English, not Japanese**

[2022-10-15 16:03] srigundeti10 commented on #40
sure thing :)

[2022-10-15 16:30] srigundeti10 commented on #40
done

[2022-10-15 16:48] Subham-Maity commented on #40
@srigundeti10 send me a pull request

[2022-10-15 19:11] Subham-Maity opened #45 "Add 10 dialogues and quotes from Hollywood movies with clear meaning to the dataset"
<div> <h3 align="center">It is important that you do this task when you are a movie enthusiast, but please do not copy it from another website without knowing what it says 🙏. </h3> </div>

<h4 align="left">How to do that? </h4>
👇

* Read [This](https://github.com/Subham-Maity/StockOfSentence#-3-could-you-please-tell-me-how-i-can-add-my-sentence-to-this-website--) 👈

<h4 align="left">Rules: </h4>

[2022-10-16 02:21] pantbibek21 commented on #45
This seems like something I would love to do. Can I work on this issue, sir?

[2022-10-16 06:02] baishu0105 commented on #45
i would like to contribute

[2022-10-16 07:41] Subham-Maity commented on #45
@pantbibek21 Sure!

[2022-10-16 07:41] Subham-Maity commented on #45
@baishu0105 Sure!

[2022-10-16 13:28] Subham-Maity opened #50 "Add 10 dialogues and quotes from Hollywood movies with clear meaning to the dataset"
<div> <h3 align="center">It is important that you do this task when you are a movie enthusiast, but please do not copy it from another website without knowing what it says 🙏. </h3> </div>

<h4 align="left">How to do that? </h4>
👇

* Read [This](https://github.com/Subham-Maity/StockOfSentence#-3-could-you-please-tell-me-how-i-can-add-my-sentence-to-this-website--) 👈

<h4 align="left">Rules: </h4>

[2022-10-16 14:10] himalgnn commented on #50
I would love to contribute !

[2022-10-16 14:11] Subham-Maity commented on #50
@himalgnn Sure!

[2022-10-16 14:29] swapn652 opened #52 "Add 20 Quotes from Animes"
I can work on this

[2022-10-16 14:29] nidhiparab commented on #50
Hey @Subham-Maity ! Just added PR #51 could you please review it.

[2022-10-16 14:48] C-V-Anish commented on #50
@Subham-Maity I would like to participate. Please assign the issue.

[2022-10-16 15:05] Subham-Maity commented on #52
@swapn652 1. Use emojis 2. Mention the anime character or anime name

[2022-10-16 15:06] Subham-Maity commented on #50
@C-V-Anish Sure!

[2022-10-16 15:42] nidhiparab commented on #50
@Subham-Maity Please check PR #55

[2022-10-16 16:49] deepesh85b commented on #50
@Subham-Maity
Please assign this to me

[2022-10-16 17:09] Subham-Maity commented on #50
@deepesh85b Sure!

[2022-10-17 05:19] swapn652 commented on #52
ok @Subham-Maity

[2022-10-17 06:29] Abhijeet03s commented on #38
@Subham-Maity  check this out:
I added a breakpoint at 480px for mobile view:

[Stock-Of-Sentence.webm](https://user-images.githubusercontent.com/107188710/196104313-9bab5fc0-cbbf-4324-a7a2-9de59b851585.webm)

[2022-10-17 08:45] #52 closed

[2022-10-17 09:16] #45 closed

[2022-10-17 09:16] #30 closed

[2022-10-17 09:16] #40 closed

[2022-10-17 09:16] #50 closed

[2022-10-17 09:17] Subham-Maity opened #61 "Add 10 dialogues and quotes from Hollywood movies with clear meaning to the dataset"
<div> <h3 align="center">It is important that you do this task when you are a movie enthusiast, but please do not copy it from another website without knowing what it says 🙏. </h3> </div>

<h4 align="left">How to do that? </h4>
👇

* Read [This](https://github.com/Subham-Maity/StockOfSentence#-3-could-you-please-tell-me-how-i-can-add-my-sentence-to-this-website--) 👈

<h4 align="left">Rules: </h4>

[2022-10-17 09:26] Premjeet1804 commented on #61
please assign me this

[2022-10-17 09:45] Pragya2056 commented on #61
I want to be assigned to this.

[2022-10-17 10:01] Subham-Maity commented on #61
@Premjeet1804 Sure but remember to follow all the rules I mentioned like adding emojis or mentioning the movie name or characters!

[2022-10-17 10:02] Subham-Maity commented on #61
@Pragya2056 **Sure but remember to follow all the rules I mentioned like adding emojis or mentioning the movie name or characters!**

[2022-10-17 10:03] Pragya2056 commented on #61
Sure!!

[2022-10-17 10:13] Minkyeong-Ko commented on #61
Hi Can I be assigned to this too?

[2022-10-17 10:14] Subham-Maity commented on #61
@Minkyeong-Ko **Sure but remember to follow all the rules I mentioned like adding emojis or mentioning the movie name or characters!**

[2022-10-17 10:15] rriver2 commented on #61
Hi I want to be assigned to this too !

[2022-10-17 10:17] Subham-Maity commented on #61
@rriver2 **Sure but remember to follow all the rules I mentioned like adding emojis or mentioning the movie name or characters!**

[2022-10-17 11:08] swapn652 opened #63 "Some contributors are still missing from the Readme file"
![image](https://user-images.githubusercontent.com/70851202/196162327-680e4b6f-b49d-44de-8303-de3ecfc6cd48.png)

I can work on this.

[2022-10-17 11:12] #63 closed

[2022-10-17 11:48] Subham-Maity commented on #63
@swapn652 chill the graph will update automatically since I'm not manually updating it. This graph is completely based on APIs, so please be patient.

[2022-10-17 12:00] Pragya2056 commented on #61
I have made a Pull request for my assignment #64 .
@Subham-Maity  Please review them!!!

[2022-10-17 12:35] Subham-Maity commented on #38
@Abhijeet03s Cool! Can you send me a pull request?

[2022-10-17 12:35] Pragya2056 commented on #61
@Subham-Maity
Can I create other sets of PRs as well ?
Or am I limited to the one which I already made.

[2022-10-17 12:38] Premjeet1804 commented on #61
hi can i still PR now

[2022-10-17 12:38] Premjeet1804 commented on #61
or it just got assigned to somebody else

[2022-10-17 12:46] Abhijeet03s commented on #38
Yes sure.

[2022-10-17 13:29] srdhal commented on #61
@Subham-Maity I would like to work on this issue. Could you please assign me this issue?

[2022-10-17 13:39] Subham-Maity commented on #61
@Premjeet1804 Contributions of any kind are welcome! Fork, add your sentences, and create your pull request. I'll merge it

[2022-10-17 13:52] Premjeet1804 commented on #61
sure thank-You

[2022-10-17 13:58] Radiosnack commented on #61
Hey ! Can you assign me this !

[2022-10-17 14:01] Radiosnack commented on #61
How many dialogues to add .. is it 10/person

[2022-10-17 14:06] Subham-Maity commented on #61
@Radiosnack at least 10 but you can add more

[2022-10-17 14:11] Pragya2056 commented on #61
@Subham-Maity
Can I create other sets dialogues for PRs as well ?
Or am I limited to the one which I already made.

[2022-10-17 14:14] Subham-Maity commented on #61
@Pragya2056 **you can create unlimited PRs and contribute whatever you want there is no limitation for contributor**

[2022-10-17 17:17] emday4prez commented on #61
Hello can you please assign this to me also

[2022-10-18 03:54] xuann6 commented on #61
@Subham-Maity i would like to do this, thx

[2022-10-18 10:25] sb-decoder opened #72 "Wants to add a CODE_OF_CONDUCT.md file"
If you want to add this? assign me.

[2022-10-18 10:27] sb-decoder commented on #72
And also main readme.md looking good if contributors section added after the project description.

[2022-10-18 10:56] Subham-Maity commented on #72
@sb-decoder Ok sure!

[2022-10-18 11:01] Subham-Maity commented on #61
@xuann6 Sure

[2022-10-18 13:53] Radiosnack commented on #61
Hey ! @Subham-Maity Created  PR #75 . Review it once:)

[2022-10-18 19:02] BoneNzy opened #77 "Update play/pause of audio."
## The audio does not pause when you exit the quote window!
- I don't know whether it is a feature or a bug, but even after exiting from the quote window and going back to the landing page, the audio does not end.

### We can add a feature to pause whenever this window is closed.
![tinywow_Screenshot of quoteWindow_6932742](https://user-images.githubusercontent.com/109333119/196520153-dfbdc5e9-8df

[2022-10-18 20:53] #72 closed

[2022-10-19 03:41] Subham-Maity opened #78 "Add 10 dialogues and quotes from Hollywood movies with clear meaning to the dataset"
<div> <h3 align="center">It is important that you do this task when you are a movie enthusiast, but please do not copy it from another website without knowing what it says 🙏. </h3> </div>

<h4 align="left">How to do that? </h4>
👇

* Read [This](https://github.com/Subham-Maity/StockOfSentence#-3-could-you-please-tell-me-how-i-can-add-my-sentence-to-this-website--) 👈

<h4 align="left">Rules: </h4>

[2022-10-19 04:55] a-u-m commented on #77
@Subham-Maity Hey, I would like to work on this issue.

[2022-10-19 04:58] sayan404 commented on #78
want to contribute .. pls assign me @Subham-Maity

[2022-10-19 05:03] Subham-Maity commented on #77
@a-u-m sure!

[2022-10-19 05:04] Subham-Maity commented on #78
@sayan404 sure!

[2022-10-19 05:23] BoneNzy commented on #77
I have actually solved the issue in my local computer. But you can fix the main repo. If you need any help, you can reach out ✌️

[2022-10-19 05:26] Subham-Maity commented on #77
@BoneNzy  sent me a pull request

[2022-10-19 05:27] a-u-m commented on #77
@Subham-Maity btw I am done too

[2022-10-19 05:28] Subham-Maity commented on #77
Sent me a pull request

[2022-10-19 07:13] BoneNzy commented on #77
Seems like its resolved

[2022-10-19 16:26] Subham-Maity commented on #77
@BoneNzy **It is greatly appreciated that you kept me informed about the bugs and that you also spent time on the project.**

[2022-10-19 16:27] #77 closed

[2022-10-19 19:33] GeekyMax-Ytiam opened #84 "Text Show and Disappear Features 🤔"
**1. The music starts and stops when you press the spacebar so a text message can be added that says "if you press the space bar music will begin." when we enter the site, then disappears automatic**

**2. We can use an alert also**

[2022-10-19 21:08] JatinSingh08 commented on #84
Hey @GeekyMax-Ytiam , Can you please assign this issue to me. I would love to work on this.

[2022-10-20 06:25] Pragya2056 commented on #78
I want to contribute again. Please assign me!!!

[2022-10-20 09:27] Subham-Maity commented on #84
@JatinSingh08 sure

[2022-10-20 12:33] Subham-Maity opened #86 "Replace Audio file with Audio Link"
**1. Remove the audio file**
**2. Add an audio link**

_Note:_  The music must match the theme of our site and also be of a lo-fi type

[2022-10-20 13:23] swapn652 commented on #86
Yo, Can I work on this? Assign me

[2022-10-20 13:33] Subham-Maity commented on #86
@swapn652 Sure!

[2022-10-20 14:34] Pragya2056 commented on #78
@Subham-Maity
Please check the #88 for this issue.

[2022-10-20 20:25] amanaggarwal06 commented on #78
Hey, I want to contribute.
Please assign it to me @Subham-Maity

[2022-10-20 21:07] Subham-Maity commented on #78
@amanaggarwal06 Sure!

[2022-10-20 22:46] amanaggarwal06 commented on #78
Hey,
I just created the pull request. Kindly check it.

[2022-10-21 08:58] raghavpatidar commented on #86
can i work on this issue? Assign me this please

[2022-10-21 09:26] Subham-Maity commented on #86
@raghavpatidar Sure!

[2022-10-21 09:28] Subham-Maity opened #90 "Fix The Mobile View"
## **Fix Mobile View**

![image](https://user-images.githubusercontent.com/97989643/195852995-191b6843-21fa-41e0-9cab-d6eca0d7891a.png)

[2022-10-21 10:17] Anuran12 commented on #90
@Subham-Maity  i would like to work on this

[2022-10-21 10:21] Subham-Maity commented on #90
@Anuran12 Sure!

[2022-10-21 13:57] Subham-Maity opened #92 "Text Show and Disappear Features"
**1. The music starts and stops when you press the spacebar so a text message can be added that says "if you press the space bar music will begin." when we enter the site, then disappears automatic**

**2. We can use an alert also**

[2022-10-21 13:59] JatinSingh08 commented on #84
Hey @Subham-Maity, I'm working on this.  Is that issue actually resolved ?

[2022-10-21 14:03] Subham-Maity commented on #84
@JatinSingh08 I have reopened it

[2022-10-21 14:07] JatinSingh08 commented on #84
Ok thanks shubham.

[2022-10-21 14:21] RXBlade commented on #92
Hey @Subham-Maity , you can assign this task to me.

[2022-10-21 14:27] Manoj0Marmat commented on #92
@Subham-Maity i can help with it assign it to me

[2022-10-21 14:30] Subham-Maity commented on #92
@Manoj0Marmat Sure!

[2022-10-21 14:30] Subham-Maity commented on #92
@RXBlade Sure!

[2022-10-21 15:26] RXBlade commented on #92
@Subham-Maity What do you think about my approach?
https://github.com/RXBlade/StockOfSentence

[2022-10-22 05:38] RXBlade commented on #92
I also submitted my solution on the pull request

[2022-10-22 20:35] Subham-Maity commented on #92
@RXBlade @Manoj0Marmat **My appreciation goes out to both of you for all your work and efforts, and I look forward to working together on this project or another in the future. Your work is amazing, and I appreciate you taking the time to understand the project and spend your valuable time on it.**

[2022-10-22 20:38] #92 closed

[2022-10-22 21:05] #78 closed

[2022-10-22 21:08] Subham-Maity opened #96 "Add 12-15 dialogues and quotes from Hollywood Movies with clear meaning to the dataset"
<div> <h3 align="center">It is important that you do this task when you are a movie enthusiast, but please do not copy it from another website without knowing what it says 🙏. </h3> </div>

<h4 align="left">How to do that? </h4>
👇

* Read [This](https://github.com/Subham-Maity/StockOfSentence#-3-could-you-please-tell-me-how-i-can-add-my-sentence-to-this-website--) 👈

<h4 align="left">Rules: </h4>

[2022-10-22 22:49] iampearlep commented on #96
Can you please assign this to me?

[2022-10-22 23:27] leslievelderrainx commented on #96
Hi, can I be assigned to this too?

[2022-10-23 01:33] Subham-Maity commented on #96
@iampearlep Sure!

[2022-10-23 01:33] Subham-Maity commented on #96
@leslievelderrainx Sure!

[2022-10-23 03:10] amitkroutthedev commented on #96
@Subham-Maity  can I make some contribute?

[2022-10-23 06:53] Aakriti-malla commented on #96
Hey, Can I contribute as well?

[2022-10-23 10:14] Subham-Maity commented on #96
@Aakriti-malla Sure !

[2022-10-23 10:14] Subham-Maity commented on #96
@amitkroutthedev Sure!

[2022-10-23 15:53] #90 closed

[2022-10-23 15:54] Subham-Maity opened #101 "Fix The Mobile View"
## **Fix Mobile View**

![image](https://user-images.githubusercontent.com/97989643/195852995-191b6843-21fa-41e0-9cab-d6eca0d7891a.png)

[2022-10-23 15:56] #29 closed

[2022-10-23 15:57] #84 closed

[2022-10-23 16:08] rahul8858 commented on #101
I want to contribute. Can you assign this issue to me?

[2022-10-23 17:00] #86 closed

[2022-10-23 17:48] Subham-Maity commented on #101
@rahul8858 Ok!

[2022-10-24 19:04] Mridularora18 commented on #96
Can I contribute as well?

[2022-10-24 20:04] Subham-Maity commented on #96
@Mridularora18 Ok

[2022-10-25 05:33] Subham-Maity opened #106 "Add 15-20 dialogues from Hollywood Movies to the Dataset"
<div> <h1 align="center">Please Follow all the rules I mentioned, then send PRs🙏. </h3> </div>
<div> <h3 align="center">It is important that you do this task when you are a movie enthusiast, but please do not copy it from another website without knowing what it says 🙏. </h3> </div>

<h4 align="left">How to do that? </h4>
👇

* Read [This](https://github.com/Subham-Maity/StockOfSentence#-3-could-you

[2022-10-25 19:42] #106 closed

[2022-10-25 19:42] Subham-Maity opened #111 "Add 10-12 dialogues from Hollywood Movies to the Dataset"
<div> <h1 align="center">Please Follow all the rules I mentioned, then send PRs🙏. </h3> </div>
<div> <h3 align="center">It is important that you do this task when you are a movie enthusiast, but please do not copy it from another website without knowing what it says 🙏. </h3> </div>

<h4 align="left">How to do that? </h4>
👇

* Read [This](https://github.com/Subham-Maity/StockOfSentence#-3-could-you

[2022-10-25 19:55] pratik2315 commented on #111
hey @Subham-Maity ! can I work on this issue?

[2022-10-25 19:58] Subham-Maity commented on #111
@pratik2315 Sure

[2022-10-25 20:55] S-YUVARAJ commented on #111
Please assign this to me
I am very new to open source and very interested to contribute to the open source community, this will be a very good opportunity for me and I will be forever grateful to you

Thanking You in advance
Regards
S Yuvaraj

[2022-10-25 21:05] Subham-Maity commented on #111
@pratik2315 @S-YUVARAJ **In this particular issue anyone can contribute. There is no limitation**

[2022-10-25 21:58] abhishekr700 commented on #111
Please assign me too @Subham-Maity

[2022-10-25 23:20] Subham-Maity commented on #111
@abhishekr700 Sure

[2022-10-26 06:00] GitArya27 commented on #111
please assign me this too @Subham-Maity

[2022-10-26 06:03] ANMOLYADAV1402 commented on #111
please assign me this too @Subham-Maity

[2022-10-26 07:41] Subham-Maity commented on #111
@GitArya27 Sure!

[2022-10-26 07:42] Subham-Maity commented on #111
@ANMOLYADAV1402 Sure!

[2022-10-26 07:48] Shyamlee-1207 opened #115 "Add 12-14 dialogues from Hollywood Movies to the Dataset"
Please assign me this issue and add hacktoberfest tag to it.

[2022-10-26 08:25] Subham-Maity commented on #115
@Shyamlee-1207 #111 check this issue participate here I'll assign you

[2022-10-26 08:33] Shyamlee-1207 commented on #111
Please assigm me this issue @Subham-Maity

[2022-10-26 08:49] Subham-Maity commented on #111
Sure

[2022-10-26 09:30] kaliappan01 commented on #111
Please assign this issue to me @Subham-Maity

[2022-10-26 09:56] komalsoni4 commented on #111
please assign me this

[2022-10-26 18:47] #115 closed

[2022-10-26 18:47] Subham-Maity commented on #111
@kaliappan01 Sure!

[2022-10-26 18:47] Subham-Maity commented on #111
@komalsoni4 Sure!

[2022-10-28 00:56] sunridden commented on #111
Please assign this to me @Subham-Maity

[2022-10-28 01:03] GeekyMax-Ytiam commented on #111
@sunridden do it

[2022-10-28 02:35] Subham-Maity opened #121 "Add 10 dialogues from Hollywood Movies"
<div> <h1 align="center">Please Follow all the rules I mentioned, then send PRs🙏. </h3> </div>
<div> <h3 align="center">It is important that you do this task when you are a movie enthusiast, but please do not copy it from another website without knowing what it says 🙏. </h3> </div>

<h1 align="center" >How to do that?  <img
            src="https://i.pinimg.com/originals/10/06/a2/1006a23c19bdf3c7e

[2022-10-28 02:35] #61 closed

[2022-10-28 02:36] #96 closed

[2022-10-28 02:36] #38 closed

[2022-10-28 02:36] #101 closed

[2022-10-28 05:05] gregoris-io opened #124 "Adding additional dialogues"
I was thinking off adding additional dialogues to your data set.

Thoughts I've had include:
Philosophers,
Military Figures,
Heads of states, etc..

I do not know how they would fit into your data set categorization though.

[2022-10-28 05:29] GeekyMax-Ytiam commented on #124
@gregoris-io It's an open-source project so you can modify it as you want. You can use it for your personal use and after modification, simply create a pull request. We will inform you if any changes are needed.

[2022-10-28 06:11] Pragya2056 commented on #121
@Subham-Maity
The PR #125 has been added. Please review it.

[2022-10-28 09:57] Pragya2056 opened #126 "Mixed Quotes"
Quotes of all genres stay together.
Maybe the quotes of the different genres should be in different formats.
Or else - we can put the genre in the format so that each contributor is responsible for stating the genre of their own.

[2022-10-28 10:43] harshpailkar commented on #121
Can I work on this? @Subham-Maity

[2022-10-28 10:44] harshpailkar commented on #111
Can i work on this ? @Subham-Maity

[2022-10-28 15:57] Subhasish-Negel commented on #111
@harshpailkar Sure! Do it!

[2022-10-28 15:58] Subhasish-Negel commented on #111
Do it!

[2022-10-28 16:31] Subham-Maity commented on #121
@harshpailkar Sure!

[2022-10-28 17:08] Subham-Maity opened #127 "Categorize the Dataset by Genres"
<h1 align="center">  The Categorize bar can be added under the container to allow you to choose what genre of data to display  <h1>

 <h3 align="center">💡! The idea of implementation:  Create multiple datasets.js, then trigger each dataset to a separate categorize section, so that when a user clicks on a genre, only that dataset will be triggered and displayed. </h3>

 _Note: If you have any ideas

[2022-10-28 17:08] Subham-Maity opened #128 "Categorize the Dataset by Genres"
<h1 align="center">  The Categorize bar can be added under the container to allow you to choose what genre of data to display  <h1>

 <h3 align="center">💡! The idea of implementation:  Create multiple datasets.js, then trigger each dataset to a separate categorize section, so that when a user clicks on a genre, only that dataset will be triggered and displayed. </h3>

 _Note: If you have any ideas

[2022-10-28 17:13] #127 closed

[2022-10-28 21:01] gregoris-io commented on #124
@GeekyMax-Ytiam, would it be possible for you to add the hacktoberfest tag for me please?

[2022-10-28 21:39] gregoris-io commented on #128
@Subham-Maity,

So I must ask you:

What is the direction you want this project to travel? What is your vision, what are you trying to achieve with this project?

These questions are best to be answered before you can begin to sort out the data. The purpose of the data must be clear. As the data set grows, it will continue in difficulty to manage.

Without a 'road map' my suggestions are rather li

[2022-10-28 21:45] gregoris-io opened #131 "Add Contributing.md file"
Can I create a very limited contribution file, in which it is easy and clear how to fork the project, set it up locally, and push to the remote repository?

I feel this will make it easier for new developers to get involved in the project.

Finally, if approved, could you add a "hacktoberfest" , and "hacktoberfest-accepted" label for me?

Thanks

[2022-10-28 22:20] GeekyMax-Ytiam commented on #128
@gregoris-io it's not possible without using any **database management system**, and for that, we need proper frameworks and system design also user interfaces will be sacrificed as the framework becomes more complex, and without using a proper database management system, the website will slow down each day. The process of storing data separately with some stricter rules also requires a lot of wor

[2022-10-28 22:27] GeekyMax-Ytiam commented on #131
@gregoris-io **Yes the idea is great, so do it**

[2022-10-29 02:15] #124 closed

[2022-10-29 02:16] #131 closed

[2022-10-29 18:01] Subhajit-Bera commented on #111
@Subham-Maity Assign this to me

[2022-10-29 18:02] Subham-Maity commented on #111
@Subhajit-Bera do it!

[2022-10-30 13:01] Pragya2056 commented on #126
This issue already comes under #128 .
So, I am closing this.

[2022-10-30 13:01] #126 closed